[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.5"
boto3 = "==1.14.40"
botocore = "==1.17.40"
certifi = "==2020.6.20"
chardet = "==3.0.4"
chromedriver-py = "==84.0.4147.30"
colorama = "==0.4.3"
configparser = "==5.0.0"
crayons = "==0.3.1"
cycler = "==0.10.0"
Django = "==2.2.5"
django-bootstrap-form = "==3.4"
django-debug-toolbar = "==2.2"
django-extensions = "==3.0.3"
django-filter = "==2.2.0"
django-storages = "==1.9.1"
docutils = "==0.15.2"
graphviz = "==0.14.1"
gunicorn = "==19.9.0"
idna = "==2.10"
jmespath = "==0.10.0"
kiwisolver = "==1.2.0"
matplotlib = "==3.2.2"
numpy = "==1.18.5"
pandas = "==1.1.2"
pydotplus = "==2.0.2"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
requests = "==2.24.0"
s3transfer = "==0.3.3"
selenium = "==3.141.0"
six = "==1.15.0"
sqlparse = "==0.3.1"
urllib3 = "==1.25.9"
webdriver-manager = "==3.2.1"
pylibmc= "==1.5.2"

[requires]
python_version = "3.7"
