{% extends 'base.html' %}

{% load static %}



{% block content %}
<BODY class = 'flashcard'>


<div class="modal fade" id="gameoverModal" aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog modal-dialog-centered" >
  <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gameover :(</h5>
      </div>
      <div class="modal-body"> Oh no, 3 strikes and Gameover!
          <a href ="{% url 'level_info' %}" id="gameover-link">Go back to Topic page to play again.</a>
      </div></div>
    </div>
</div>
<div class="container">
    {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    <div>
        <div class="row justify-content-around">
            <div class="col-2">
                <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
                    <div class="p-2 bd-highlight">
                        <img src="{% static 'Alive.png' %}" id="life-1" style="width:70px;"></div>
                    <div class="p-2 bd-highlight">
                        <img src="{% static 'Alive.png' %}" id="life-2" style="width:70px;"></div>
                    <div class="p-2 bd-highlight">
                        <img src="{% static 'Alive.png' %}" id="life-3"style="width:70px;"></div>
                </div>
            </div>
            <div class="col-1">
                <div class="circle" id="timer" value="" style="font-size: 50px;">20</div>
    </div>

        </div>

    <div class="card my-3">
    <div class="card-header">
          Question {{ question_num }}
    </div class>
        <form id = 'question' class="card-body" action="" method="POST">
          {% csrf_token %}
          <h5 class="card-title text-center">{{ question }}</h5>

          <input type="hidden" name="question-id" value="{{ number }}">
          <input type="hidden" name="question-num" value ="{{ question_num }}">
            <input type="hidden" name="level" value="{{ level }}">
            <input type="hidden" id="word-length" value="{{ word_length }}">
            <input type="hidden" id="sentence" value="{{ sentence }}">
            <input type ="hidden" id="correct-answer" value="{{ spanish }}">
            <input class="mx-auto d-block" type="hidden" id="user-input" name="answer" value ="" style="width:500px">
            <input type="hidden" id="lives" value="{{ lives }}">
            <input type="hidden" id="review" value="{{ review }}">
            <input type="hidden" id="Url" data-url="{% url 'home' %}">
<!--        <div class="row justify-content-around">-->


        <div  id="dropzone1" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = '' class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div id="dropzone2" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = '' class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div id="dropzone3" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div id="dropzone4" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div id="dropzone5" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div id="dropzone6" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="dropzone7" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="dropzone8" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="dropzone9" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="dropzone10" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="dropzone11" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="dropzone12" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id="dropzone13" style="width:80px; float:left; display: inline-block;border-bottom:1px solid #aaaaaa" value = ''class="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>


<!--        </div>-->
      </form>
        <div class="text-center"> <h5 id="response"></h5></div>


            <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
          {% for char in characters %}
                <div class="w-10 p-2 bd-highlight flex-shrink-1">
                    <div id="buttonsHolder" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <button class = "btn btn-outline-success option-btn my-2 mx-auto d-block" id = "{{ char }}" value ="{{ char }}"style="" draggable="true" ondragstart="drag(event)"> {{ char }}</button>
                    </div></div>
          {% endfor %}
        </div>
                <button type="submit" class="btn btn-success my-2 mx-auto d-block" id="submit">Submit</button>


        <div class="text-center">
<p><a href ="{% url 'level_info' %}" class="btn btn-primary" id="exit">Exit</a></p>
</div>




</div>

<script>
    const options = document.getElementsByClassName('option-btn');
    const letters = document.getElementById('word-length').value;
    const sentence = document.getElementById('sentence').value;
    const question = document.getElementById('question');
    const submit = document.getElementById('submit');
    const response = document.getElementById('response');
    var correct_answer = document.getElementById('correct-answer').value.toLowerCase();
    var timerStop = 'False';
    const lives = document.getElementById('lives').value;
    const review = document.getElementById('review').value;
    const exit = document.getElementById('exit');
    const gameoverLink = document.getElementById('gameover-link');
    const dropzones = document.getElementsByClassName('dropzone');
    var answer2 = '';

    var audioElement = document.createElement("audio");
    audioElement.src = "https://dqktggxxlj4o5.cloudfront.net/static/win.mp3"

    var audioElementLose = document.createElement("audio");
    audioElementLose.src = "https://dqktggxxlj4o5.cloudfront.net/static/lose.mp3"

    var audioElementGameover = document.createElement("audio");
    audioElementGameover.src = "https://dqktggxxlj4o5.cloudfront.net/static/gameover2.mp3"


    const timeOut = 15000;
    const timer = document.getElementById('timer');
    var timerCount = 30;

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
        ev.dataTransfer.setData('txt', ev.target.value);

    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var text = ev.dataTransfer.getData("txt");
        var btnsHolder = document.getElementById("buttonsHolder");
        let target = ev.target;

        console.log($(target).hasClass('dropzone'));
        if ($(target).hasClass('dropzone')){
        if ($(target.children).hasClass('btn')){
            btnsHolder.appendChild(target.children[0])};
        target.appendChild(document.getElementById(data));
        target.value = String(text);}

        else if ($(target).hasClass('btn')){
        $(target).parent()[0].appendChild(document.getElementById(data));
        $(target).parent()[0].value = String(text);
        btnsHolder.appendChild(target);
        console.log('$(target).parent()', $(target).parent());
        };

    }

    function decreaseTimer() {
        timer.innerHTML = timerCount;
        if(timerCount <= 0) {
        question.submit();
        } else if(timerStop== 'False'){
        timerCount -= 1;
      setTimeout(decreaseTimer, 1000);
        }
    }

    function stopTime(){
        timerStop = 'True'; }

    function liveImages(){
        if (lives == 2){
            document.getElementById('life-3').src ="{% static 'Dead.png' %}";
            }
        else if (lives == 1){
            document.getElementById('life-3').src ="{% static 'Dead.png' %}"
            document.getElementById('life-2').src ="{% static 'Dead.png' %}"
        }
        else if (lives == 0){
            document.getElementById('life-3').src ="{% static 'Dead.png' %}"
            document.getElementById('life-2').src ="{% static 'Dead.png' %}"
            document.getElementById('life-1').src ="{% static 'Dead.png' %}"
        };
    }
    function gameover(){
    if (lives == 0){
            $("#gameoverModal").modal('show');
            audioElementGameover.play()
            }
            else if (lives !=0){
                decreaseTimer();};}

    document.addEventListener("DOMContentLoaded", function() {
      for (let i = 0; i < letters; i++){
        options[i].id = i;
        ;};

      gameover();
      liveImages();
      exitLink();


    });



    function exitLink(){
        if(review == 'True'){
            var url = $("#Url").attr("data-url");
            exit.href = url;
            gameoverLink.href = url;
            gameoverLink.innerHTML = 'Go back to Homepage to play again.';};}

    submit.addEventListener("click",function(){
        var answer = document.getElementById('user-input')
        for (let i = 0; i < 13; i++){
            if (typeof dropzones[i].value !== 'undefined'){
                if(sentence == 'True'){
                    answer2 += ' ' + dropzones[i].value;
                    answer.value = answer2.substring(1)

                    }
                else{
                    answer2 += dropzones[i].value;
                    answer.value = answer2};}};
        console.log(answer2);

        answer2= answer2.replace(/[?!¿¡]/g,"");
        correct_answer = correct_answer.replace(/[?!¿¡]/g,"");
        answer2 = answer2.replace(/\s+/g, ' ').trim();
        if (answer2.toLowerCase() === correct_answer){
            response.innerHTML = 'Sucess!';
            response.style.color = '#32CD32';

            var msg = new SpeechSynthesisUtterance(correct_answer);
            msg.lang = 'es-SP';
            window.speechSynthesis.speak(msg);
            msg.onend = function() {audioElement.play()};
            }
        else {
            response.innerHTML = correct_answer
            response.style.color = 'red';
            audioElementLose.play()
            };

      stopTime();
      submit.disabled = true;
      setTimeout(function(){question.submit()},3000);
      });

    history.pushState(null, null, location.href );
    window.addEventListener('popstate', function(event) {
    history.pushState(null, null, location.href);
});


</script>


{% endblock content %}