{% extends 'base.html' %}

{% load staticfiles %}



{% block title %}Flashcard Game{% endblock title %}

{% block content %}

<BODY class = 'flashcard'>
<div class="modal fade" id="gameoverModal" aria-hidden="true" data-toggle="modal" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog modal-dialog-centered" >
  <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gameover :(</h5>
      </div>
      <div class="modal-body"> Oh no, 3 strikes and Gameover!
          <a href ="{% url 'level_info' %}" id="gameover-link">Go back to Topic page to play again.</a>
      </div></div>
    </div>
</div>
<div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
<div>
        <input type="hidden" value="{{ lives }}" id="lives">
        <div class="row justify-content-around">
            <div class="col-2">
                <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
                    <div class="p-2 bd-highlight">
                        <img src="{% static 'Alive.png' %}" id="life-1" style="width:70px;"></div>
                    <div class="p-2 bd-highlight">
                        <img src="{% static 'Alive.png' %}" id="life-2" style="width:70px;"></div>
                    <div class="p-2 bd-highlight">
                        <img src="{% static 'Alive.png' %}" id="life-3"style="width:70px;"></div>
                </div>
            </div>
            <div class="col-1">
                <div class="circle" id="timer" value="" style="font-size: 50px;">10</div>
    </div>

        </div>

  <div class="card my-3">
    <div class="card-header">
          Question {{ question_num }}
    </div>
      <form id="question" class="card-body" action="" method="POST">
          {% csrf_token %}


          <h5 class="card-title text-center" id="english">{{ question }}</h5>
        <div>

          <input type="hidden" name="question-id" value="{{ number }}">
          <input type="hidden" name="question-num" value ="{{ question_num }}">
          <input type="hidden" name="level" value="{{ level }}">
          <input type="hidden" id="answer" name="answer" value="">
            <input type="hidden" id="correct" value="{{ correct }}">
            <input type="hidden" id="review" value="{{ review }}">
            <input type="hidden" id="Url" data-url="{% url 'home' %}">

          </div>

      </form>
    <div>
          {% for option in options %}
          <button class = "btn btn-outline-success option-btn my-2 mx-auto d-block" style="width: 400;">
          {{ option }}</button>
          {% endfor %}
        </div>

    <div class="text-center">
<p><a href ="{% url 'level_info' %}" class="btn btn-primary" id="exit">Exit</a></p>
</div>
      </div>

    </div>


<script>
  const timeOut = 10000;
  const question = document.getElementById('question');
  const answer = document.getElementById('answer');
  const timer = document.getElementById('timer');
  const options = document.getElementsByClassName('option-btn');
  const lives = document.getElementById('lives').value;
  const english = document.getElementById('english').innerHTML;
  const correct = document.getElementById('correct').value;
  const review = document.getElementById('review').value;
  const exit = document.getElementById('exit');
  const gameoverLink = document.getElementById('gameover-link');

  var timerStop = 'False';

  var timerCount = 10;

  var audioElement = document.createElement("audio");
  audioElement.src = "https://dqktggxxlj4o5.cloudfront.net/static/win.mp3"

  var audioElementLose = document.createElement("audio");
  audioElementLose.src = "https://dqktggxxlj4o5.cloudfront.net/static/lose.mp3"

  var audioElementGameover = document.createElement("audio");
  audioElementGameover.src = "https://dqktggxxlj4o5.cloudfront.net/static/gameover2.mp3"



  function decreaseTimer() {
    timer.innerHTML = timerCount;
    if(timerCount <= 0) {
      audioElementLose.play();
      answer.value = 'timeout';
      console.log('late');
      setTimeout(function(){question.submit()},500);
    } else if(timerStop== 'False'){
      timerCount -= 1;
      setTimeout(decreaseTimer, 1000);
    }
  }
  function stopTime(){
        timerStop = 'True'; }

  function liveImages(){
        if (lives == 2){
            document.getElementById('life-3').src ="{% static 'Dead.png' %}";
            }
        else if (lives == 1){
            document.getElementById('life-3').src ="{% static 'Dead.png' %}"
            document.getElementById('life-2').src ="{% static 'Dead.png' %}"
        }
        else if (lives == 0){
            document.getElementById('life-3').src ="{% static 'Dead.png' %}"
            document.getElementById('life-2').src ="{% static 'Dead.png' %}"
            document.getElementById('life-1').src ="{% static 'Dead.png' %}"
            };
    }


   function gameover(){
        if (lives == 0){
            $("#gameoverModal").modal('show');
            audioElementGameover.play()
            }
            else if (lives !=0){
                decreaseTimer();};
            }

   function exitLink(){
        if(review == 'True'){
            var url = $("#Url").attr("data-url");
            exit.href = url;
            gameoverLink.href = url;
            gameoverLink.innerHTML = 'Go back to Homepage to play again.';};}

  document.addEventListener("DOMContentLoaded", function() {
    liveImages();
    gameover();
    exitLink();
  });



for (let i = 0; i < 4; i++){
    options[i].addEventListener('click',function(){
    timerStop = 'True'
    stopTime();
    answer.value = (options[i].innerHTML).trimLeft();

    if (answer.value == correct){

        var msg = new SpeechSynthesisUtterance(answer.value);
        msg.lang = 'es-SP';
        window.speechSynthesis.speak(msg);
        msg.onend = function() {audioElement.play();}}
    else {
        audioElementLose.play();
        stopTime();
        for (let i = 0; i < 4; i++){
            option = (options[i].innerHTML).trimLeft();
            if(option == correct){
                options[i].className = 'btn btn-outline-warning option-btn my-2 mx-auto d-block';
                };
                };
        setTimeout(function(){question.submit()},1000)};
    for (let i = 0; i < 4; i++){
        options[i].disabled = true};

    stopTime();

    setTimeout(function(){question.submit()},3500);
    });};


history.pushState(null, null, location.href );
window.addEventListener('popstate', function(event) {
  history.pushState(null, null, location.href);
});



  </script>
{% endblock content %}


