{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Level detail view{% endblock title %}


{% block content %}
<body class = 'home'>
<input type="hidden" value="{{ level_up }}" id="level_up">
<div class="modal fade" id="myModal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Level Up!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class ="close">&times;</span>
        </button>
      </div>
      <div class="modal-body"> Felicidades! You have earned enough points to level up!
          <a href ="{% url 'home' %}">Go back to Topic menu to learn new topic.</a>
      </div></div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-around">
        <div class="col-7 card" >
            <div class="d-flex p-2 bd-highlight justify-content-center">Learn {{ description }}</div>

        <table class="table table-hover table-striped">
            <thead>
    <tr>
      <th scope="col">Spanish</th>
      <th scope="col">Translation</th>
        <th scope="col">Ready to Review</th>
        <th scope="col">Listen</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for object in table_words %}
  <tr>

      <th scope="row">{{ object.spanish_phrase }}</th>
      <td>{{ object.english_translation }}</td>
      <td>{{ object.review_in }} day(s)</td>
      <td><a href="" class="say" name = "{{ object.spanish_phrase }}">listen</a>
          </td>
      <td>{% if object.information != '' %}
      <button class ="myBtn btn btn-primary" id="myBtn">i</button>
          <div id="infoModal" class="modal infoModal">
              <div class="modal-dialog modal-dialog-centered">


        <!-- Modal content -->
            <div class="modal-content ">

                <div class="modal-header">
                      <h5 class="modal-title">{{ object.spanish_phrase }}</h5>

                  </div>
                <div class="modal-body">
                    <p>{{ object.information }}</p></div>
                <div class="modal-footer"><button class="closeInfo btn btn-secondary">Close</button></div>
            </div>
            </div></div>


      {% endif %}</td>

  </tr>
  {% endfor %}
  </tbody>

        </table>

            <input type="hidden" value="{{ NumWords }}" id="words">
            <input type="hidden" value="{{ NumInfo }}" id ='infos'>
            </div>





        <div class="col-4 card" style="height:500px;">

            <div class="d-flex p-2 bd-highlight justify-content-center">Play</div>
            <div class="d-flex p-2 bd-highlight justify-content-center">
            <a href ="{% url 'flashcard' %}"><img src="{% static 'flashcard.png' %}"
                                      width=150"><figcaption style="text-align:center;">Flashcard Game</figcaption></a>

            </div>
            <div class="d-flex p-2 bd-highlight justify-content-center">
                <a href ="{% url 'construct' %}"><img src="{% static 'construct.png' %}"
                                      width=150"><figcaption style="text-align:center;">Construct Game</figcaption></a></div>
            <div class="d-flex p-2 bd-highlight justify-content-center">
                <a href="{% url 'home' %}">Select a Different Topic</a></div>
        </div>
    </div>



</div>

<script>
    const options = document.getElementsByClassName('say');
    const words = document.getElementById('words').value;
    const infos = document.getElementById('infos').value;
    var levelUp = document.getElementById('level_up').value;
    var span = document.getElementsByClassName("close")[0];
    const span2 = document.getElementsByClassName("closeInfo");
    const infoModal = document.getElementsByClassName("infoModal");
    const btn = document.getElementsByClassName("myBtn");
    function listen(value) {
        var text = value;
        var msg = new SpeechSynthesisUtterance(text);
        msg.lang = 'es-SP';
        window.speechSynthesis.speak(msg);}

    function info(i) {
        console.log(infos);
        infoModal[i].style.display = "block";
        window.onclick = function(event) {
        if (event.target == infoModal[i]) {
        infoModal[i].style.display = "none";
        }
        };
        }

    function closeInformation(i){
        $(infoModal[i]).hide();
        $(".modal-backdrop").hide();}

    document.addEventListener("DOMContentLoaded", function() {
    for (let i = 0; i < words; i++) {
      options[i].addEventListener("click", function() {
        listen(options[i].name);
      });
      }
    for (let i = 0; i < infos; i++) {
      btn[i].addEventListener("click", function() {
        info(i);
      });
      }
      for (let i = 0; i < infos; i++) {
      span2[i].addEventListener("click", function() {
        closeInformation(i);
      });
      }
      if (levelUp == 'True'){
      $("#myModal").modal('show');};

      span.onclick = function() {
        $("#myModal").hide();
        $(".modal-backdrop").hide();
        };
       console.log(levelUp)




  });








</script>

</body>
{% endblock content %}

