{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ user }}'s Profile{% endblock title %}

{% block content %}
<body class="home">
<div class="container">
    <div class="row justify-content-around">
        <div class="col-12 card">



            <p>Current streak : {{ current_streak }} day(s)</p>
            <p>Longest streak : {{ longest_streak.day_streak }} day(s)</p>
        </div>
    </div>
</div>
<div></div>

<div class="card">
<h5 align="center">Your Activity</h5>
<table width="50%" align="center">
    <tr>
        <td width="20%" align="left">
           << <a href="/profile/{{PreviousYear}}/{{PreviousMonth}}/">{{PreviousMonthName}} {{PreviousYear}}</a>
        </td>

        <td width="20%" align="center"><a href="/courses/profile">Today</a></td>
        <td width="20%" align="right">
          
        </td>

    </tr>
</table>
<div id="calendar" align="center">
  {{Calendar}}
</div>
</div>

{% endblock content %}

